.home {
    height: 100vh;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &__title {
      font-size: 32px;
    }

    &__input {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__actions {
        display: flex;
        gap: 20px;
    }

    &__result {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        color: var(--primary-blue);

        .title {
            display: flex;
            justify-content: center;
            font-weight: 600;
            font-size: 24px;
        }

        .value {
            min-width: 500px;
            max-width: 800px;
            overflow-y: scroll;
            display: flex;
            gap: 10px;
            padding-top: 10px;
            font-weight: 600;
            font-size: 18px;

            .item {
                border: 1px solid var(--primary-blue);
                border-radius: 4px;
                padding: 15px;
            }
        }
        
    }

    &__error {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        color: var(--error);

        .title {
            font-weight: 600;
            font-size: 24px;
        }
    }
}
