:root {
    font-family: "Mona Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;

    --border: #b9b9b9;
    --primary-gray: #f4f4f4;
    --primary-white: #ffffff;
    --primary-blue: #2759cd;
    --primary-deep-blue: #063dbd;
    --error: #ee4932;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    color: black;
    background-color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    font-family: inherit;
}

@font-face {
    font-family: "Mona Sans";
    src: url("/fonts/Mona-Sans.ttf");
}
